services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: unless-stopped
    ports:
      - 16686:16686
      
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 8080:8080

  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: historian
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  markov_bot:
    image: kronicaler/markov_bot
    container_name: markov_bot
    environment:
      - DISCORD_TOKEN
      - APPLICATION_ID
      - OTLP_ENDPOINT=http://jaeger:4317
      - DATABASE_URL=mysql://root:${DB_PASS}@db/markov_bot
      - LOG_LEVEL=info
      - LIB_LOG_LEVEL=error
    build:
      context: ./
      dockerfile: dockerfile
    restart: unless-stopped
    volumes:
      - ./data:/app/data:Z
